@import "../../global.scss";

.projects{
    display: flex;
    flex-direction: column;
    flex: 1;

    .projectLabel {
        font-family: $mainFont;
        font-size: 35px;
        font-weight: 500;
      }
}