@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $mainColor;

  .slider {
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-items: center;
    }

    .clientsContainer {
      padding: 20px;
      width: 40vw;
      height: 75vh;
      align-items: center;
      flex-direction: column;
      border-radius: 20px;
      justify-content: center;
      background-color: #fff;

      @include mobile {
        width: 90vw;
        height: 87%;
        margin-top: 20px;
      }

      .title{
        display: flex;
        font-size: 35px;
        font-weight: 700;
        text-decoration: underline;

        @include mobile {
          font-size: 25px;
        }
      }

      .bodyContainer {
       margin: 25px;
       padding: 5px;

       @include mobile {
         margin-top: -20px;
         font-size: 14px;
       }

       h2 {
        font-family: 'Playfair Display SC', serif;
       }

       img {
         width: 400px;
       }

        @include mobile {
          width: 80vw;
        }

        h2 {
          font-size: 30px;
          font-weight: 700;
        }

        a {
          color: #000;
        text-decoration: underline;

        }
      }
    }
  }
}
