@import "../../global.scss";
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7c6c77;

  .slider {
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-items: center;
    }

    .clientsContainer {
      width: 800px;
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      border-radius: 20px;
      justify-content: center;
      background-color: #fff;

      .title{
        display: flex;
      }

      .bodyContainer {
        flex-direction: column;


        
      }
    }
  }
}
