.about {
  padding-bottom: 48px;

  .aboutTop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 720px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .aboutInfo {
      font-size: 24px;

      @media only screen and (max-width: 720px) {
        font-size: 20px;
      }

      .infoName {
        color: #c53f3f;
        font-size: 27px;
        font-weight: 700;

        @media only screen and (max-width: 720px) {
          font-size: 20px;
        }
      }
    }

    .aboutPhoto {
      height: 420px;

      @media only screen and (max-width: 720px) {
        height: 280px;
      }
    }
  }
}
