@import "../../global.scss";

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:indianred;

  .wrapper {
    height: 65%;
    width: 50%;
    border-radius: 20px 110px;
    background-color: #fff;
    justify-content: center;
    align-items: center;

    @include mobile{
      height: 80vh;
      width: 90vw;
    }


    .title {
      padding: 5px 5px;
      display: flex;

      h1 {
        font-size: 40px;
        font-weight: 700;
      }

      @include mobile {
        font-size: 30px;
        margin-bottom: 0;
      }
    }

    .aboutContainer {
      display: flex;
      margin: 30px;

      .text {
        display: flex;
        text-align: justify;

        .link {
          text-decoration: underline;
          color: inherit;
        }
      }

    }
  }
}
