@import "../../global.scss";

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:indianred;

  .wrapper {
    height: 50%;
    width: 30%;
    border-radius: 20px 110px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .title {
      padding: 5px 5px;
      display: flex;

      h1 {
        font-size: 40px;
        font-weight: 700;
      }

      @include mobile {
        font-size: 30px;
        margin-bottom: 0;
      }
    }

    .aboutContainer {
      margin: 50px;

      a {
        color: #000;
        align-items: center;
        text-decoration: underline;
        justify-content: center;
      }
    }
  }
}
