.skillCard{
    display: flex;
    width: max-content;
    padding: 8px 16px;
    height: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6px;
    border-radius: 8px;

    .skillIcon{
        font-size: 80px;
    }

    .skillName{
        font-size: 18px;
    }
}