@import "../../global.scss";

.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  position: relative;
  align-items: center;
  font-family: $mainFont;

  .menu {
    background-color: #fff;
    display: flex;
    flex: 1;
    justify-content: flex-end;

    .menuIcon {
      cursor: pointer;
      font-size: 24px;
    }

    .mobileMenu {
      display: none;

      @media only screen and (max-width: 768px) {
        display: flex;
      }
    }
    .webMenu {
      display: flex;

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
