.web {
    display: flex;
    flex: 1;
    align-items: center;

    .webOption {
        font-size: 20px;
        margin-right: 16px;
        font-weight: 700;

        :last-child {
            margin-right: 0px;
        }

        .optionIcon {
            display: flex;
            align-items: center;
            margin-right: 4px;
        }

        a {
            text-decoration: none;
            color: #000;
            display: flex;
            align-items: center;
        }
    }
}