@import "../../global.scss";
.navbar {
  width: 100%;
  height: 70px;
  background-color: $mainColor;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;

      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: #fff;

        @include mobile {
          display: none;
        }
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;
        font-size: 20px;

        .current {
          background-color: #fff;
        }

        @include mobile {
          display: none;
        }

        a {
          color: #fff;
          font-weight: 700;
          text-decoration: none;
        }

        .btn-one {
          color: #FFF;
          transition: all 0.3s;
          position: relative;
        }
        .btn-one span {
          transition: all 0.3s;
        }
        .btn-one::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
          transition: all 0.3s;
          border-top-width: 1px;
          border-bottom-width: 1px;
          border-top-style: solid;
          border-bottom-style: solid;
          border-top-color: rgba(255,255,255,0.5);
          border-bottom-color: rgba(255,255,255,0.5);
          transform: scale(0.1, 1);

          &.--active {
            border-bottom: 3px solid #29b6f6;
            transition: border-bottom .5s ease-in-out;
          }
        }
        .btn-one:hover span {
          letter-spacing: 2px;
        }
        .btn-one:hover::before {
          opacity: 1; 
          transform: scale(1, 1); 
        }
        .btn-one::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          transition: all 0.3s;
          background-color: rgba(255,255,255,0.1);
        }
        .btn-one:hover::after {
          opacity: 0; 
          transform: scale(0.1, 1);
        }
      }
    }

    .right {
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        @include mobile {
          margin-top: 10px;
        }

        span {
          width: 100%;
          height: 3px;
          background-color: #fff;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: #16262e;
    color: white;

    .icon {
      -webkit-filter: invert(1);
      filter: invert(1);
      transition: all 1s ease;
    }

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
