@import "../../global.scss";
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

.works {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: $mainColor;

  .worksArrow {
    font-size: 70px;
    position: absolute;
    cursor: pointer;
    color: rgb(255, 255, 255);

    @include mobile {
      margin-bottom: 650px;
    }

    &.left {
      left: 100px;
    }
    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 500px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 100vh;
    }

    .worksContainer {
      width: 100vw;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include mobile {}

      .title {
        color: $mainText;

        h1 {
          margin-right: 650px;
          font-size: 40px;
          font-weight: 700;
          color: $mainText;

          @include mobile {
            margin-right: 0;
          }

        }
      }

      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .title {
        position: static;
        flex-direction: column;

        h1 {
          font-size: 40px;
        }
      }

      .item {
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
         width: 90%;
         height: 450px;
        }
      }

      .left {
        flex: 4;
        height: 110%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 90vw;
        }

        .leftContainer {
          width: 95%;
          height: 70%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @include mobile {
            width: 60vw;
            flex-direction: column;
          }

          h2 {
            font-size: 30px;
            font-weight: 600;
            font-family: "Sanchez", serif;
          }
          p {
            font-size: 14px;
          }
          a {
            color: #000;
            font-size: 17px;
            font-weight: 600;
            cursor: pointer;
            text-decoration: underline;
            text-align: center;
          }
        }
      }

      .right {
        flex: 8;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          flex-direction: row;
        }

        img {
          width: 550px;
        }
      }
    }
  }
}
