@import "../../global.scss";

.footer {
    width: 100%;
    height: 70px;
    background-color: $mainColor;
    color: $mainText;
    position: sticky;
    bottom: 0;

    .icon {
        margin: 5px;
    }

    .footerBottom {
        text-align: center;
    }
}