@import "../../global.scss";

.mainFooter {
    width: 100%;
    background-color: $mainColor;
    color: $mainText;
    bottom: 0px;
    overflow: hidden;
    flex-direction: column;
    min-height: 20px;

    @include mobile {
        height: 20vh;
    }

    .icon {
        margin: 5px;
    }

    .footerBottom {
        text-align: center;
    }
}