.projectCard {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 8px 0px;

  @media only screen and (max-width: 720px) {
    flex-direction: column-reverse;
  }

  .projectInfo {
    margin-right: 24px;

    @media only screen and (max-width: 720px) {
      margin-left: 0px;
      margin-top: 12px;
    }

    .projectLinks {
      margin-top: 6px;
      display: flex;

      .linkButton {
        display: flex;
        justify-content: center;
        background-color: rgb(244, 244, 244);
        align-items: center;
        width: max-content;
        color: #000;
        padding: 5px 8px;
        border-radius: 4px;
        font-size: 16px;
        margin-right: 6px;

        i {
          display: flex;
          align-items: center;
          mask-repeat: 4px;
          margin-right: 4px;
        }
      }
    }

    .projectTitle {
      font-size: 20px;
      font-weight: 600;
    }

    a {
      text-decoration: none;
      color: #000;
    }
  }

  .projectTags {
    display: flex;
    min-width: 60%;
    flex-wrap: wrap;

    @media only screen and (max-width: 720px) {
      max-width: 100%;
    }

    .tag {
      padding: 6px 8px;
      background-color: rgb(244, 244, 244);
      color: #000;
      font-weight: 500;
      border-radius: 4px;
      margin-right: 6px;
      margin-bottom: 4px;
      font-size: 14px;
    }
  }

  .projectImg {
    width: 40%;

    @media only screen and (max-width: 720px) {
      width: 70%;
    }
  }
}
